extends ../default

block content
  
  include ../templates/nav
  
  div(class=['ui','container','grid','stackable'])
    div(class=['ten','wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing', 'blue'])='Crear Productos'
      
      div(class='form-nuevoproducto')
        form(class=['ui', 'form']  method="post", action="")
          div(class='field')
            labe(for='nombre')='Nombre del producto'
            input(type="text", placeholder="Nombre Producto")
          div(class=['ui', 'two', 'fields'])
              div(class="field")
                  label(for='Precio')='Precio'
                  input(type="text", placeholder="Precio")
              div(class="field")       
                  label(for='Fecha')='Fecha'
                  input(type="date", placeholder="Fecha") 
              div(class="field")           
