div(class=['ui', 'pointing', 'menu'])
  a(href='http://localhost:3000/inicio' class=['active, item'])='Inicio' 
  a(class='item' href='http://localhost:3000/nuevo')='Nuevo'
  a(class='item' href='http://localhost:3000/productos')='Listar'
  a(class='item' href='http://localhost:3000/calcular')='Calcular'
  div(class=['right', 'menu'])
    div(class='item')
      div(class=['ui', 'transparent', 'icon', 'input'])
        input(type='text' placeholder='Search...')
        i(class=['search', 'link', 'icon'])          
        
    //esto es un comentario
